{% extends 'food/base.html' %}
<!DOCTYPE HTML>
<HTML lang="en">
<HEAD>
    <TITLE></TITLE>
    
    <BODY>


        {% block content %}

        {% for item in item_list %}
        <style>
        
        .card {
                max-width: 80%;
                height: auto;
                width: auto;
                text-align: center;
                padding: 20px;
                margin-top:20px;
            }
            .col-md-4 {
                margin-top: 20px;
            }
            
          
        </style>

        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="145px" src="{{item.item_image}}" />
            </div>
            <div class="col-md-4">
                <h3>{{item.item_name}}</h3>
                <h5>{{item.item_desc}}</h5>
                <h6>{{item.user_name}}</h6>        


            </div>
            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-info text-white">Details</a>
                <style>
                    .btn {
                        margin: 20px;
                    }
                </style>
            </div>
        </div>



        {% endfor %}

        {% endblock %}
    </BODY>
</HTML>



